$bgurl: "https://i.ibb.co/16VyTJF/background-both-sides-thin.png";
$bgcolor1: #f0b175;
$bgcolor2: #3d2d1e;
$bgcolor3: #a37850;
$bgcolor4: #634931;
$bgcolor5: #3d2d1e;
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url($bgurl);
    background-color: white;
    background-position: center;
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    &__block {
        font-family: Roboto;
        font-weight: 700;
        display: flex;
        justify-content: center;
        padding: 2%;
        width: 50%;
        border: 1px solid #999;
        border-radius: 10px;
        background-color: white;
        transition: background-color 0.3s;
        &:hover {
            border-color: cornflowerblue;
            background-color: darken($color: white, $amount: 4);
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 900px) {
    .menu {
      &__block{
          align-items: center;
          height: 25vh;
          width: 100%;
          border-radius: 0;
      }
    }
  }